# See https://atom.io/docs/latest/creating-a-package#menus for more details
# 'menu': [
#   'label': 'Packages'
#   'submenu': [
#     'label': 'Break'
#     'submenu': [
#        {
#          'label': 'Start',
#          'command': 'break:start'
#        },
#        {
#          'label': 'Stop',
#          'command': 'break:stop'
#        },
#        {
#          'label': 'Restart',
#          'command': 'break:restart'
#        }
#     ]
#   ]
# ]
